api_url = "127.0.0.1:8080"
data_directory = '/var/lib/btfm/'
database_url = 'postgres:///btfm'
discord_token = 'Go get a Discord API token'
channel_id = 0
guild_id = 0
rate_adjuster = 120.0

[deepspeech]
model = '/var/lib/btfm/deepspeech.pbmm'
scorer = '/var/lib/btfm/deepspeech.scorer'

[deepgram]
api_key = 'your-api-key'
websocket_url = 'wss://api.deepgram.com/v1/listen'