[Unit]
Description=BTFM Discord bot
After=network.target

[Service]
Type=simple
User=btfm
Group=btfm
Environment="BTFM_DATA_DIR={{ btfm_data_dir }}"
Environment="DEEPSPEECH_MODEL={{ deepspeech_model }}"
Environment="DEEPSPEECH_SCORER={{ deepspeech_scorer }}"
Environment="DISCORD_TOKEN={{ discord_token }}"
Environment="LOG_CHANNEL_ID={{ log_channel_id }}"
Environment="CHANNEL_ID={{ channel_id }}"
Environment="GUILD_ID={{ guild_id }}"
Environment="RATE_ADJUSTER={{ rate_adjuster }}"
ExecStart=/usr/local/bin/btfm run -vv
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
